<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Entropy" value=""/>
		<add key="RememberPage" value=""/>
		<add key="ItemsPerPage" value="5"/>
		<add key="dbUsername" value=""/>
		<add key="dbPassword" value=""/>
		<add key="dbEntropy" value=""/>
		<add key="dbConnectStatus" value=""/>
	</appSettings>
</configuration>