USE MASTER
GO
IF DB_ID('db_book') IS NOT NULL
	DROP DATABASE [db_book]
GO
CREATE DATABASE [db_book]
GO
USE [db_book]
GO
CREATE TABLE [dbo].[ACCOUNT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[phone] [varchar](16) NULL,
	[address] [nvarchar](100) NULL,
	[username] [nvarchar](50) NULL,
	[password] [varchar](max) NULL,
	[entropy] [nvarchar](max) NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 4/18/2023 8:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[total_price] [int] NULL,
	[transaction_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 4/18/2023 8:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[author] [nvarchar](50) NULL,
	[image] [varchar](255) NULL,
	[genre_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[published_date] [date] NULL,
	[price] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_PROMOTION]    Script Date: 4/18/2023 8:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_PROMOTION](
	[book_id] [int] NOT NULL,
	[promotion_id] [int] NOT NULL,
 CONSTRAINT [PK_BOOK_PROMOTION] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC,
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAILED_BILL]    Script Date: 4/18/2023 8:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILED_BILL](
	[bill_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[number] [int] NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_DETAILED_BILL] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 4/18/2023 8:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 4/18/2023 8:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_date] [date] NULL,
	[expired_date] [date] NULL,
	[value] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 4/18/2023 8:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_ROLE] FOREIGN KEY([role_id])
REFERENCES [dbo].[ROLE] ([id])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_ROLE]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_ACCOUNT] FOREIGN KEY([customer_id])
REFERENCES [dbo].[ACCOUNT] ([id])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_ACCOUNT]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_GENRE] FOREIGN KEY([genre_id])
REFERENCES [dbo].[GENRE] ([id])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_GENRE]
GO
ALTER TABLE [dbo].[BOOK_PROMOTION]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PROMOTION_BOOK] FOREIGN KEY([book_id])
REFERENCES [dbo].[BOOK] ([id])
GO
ALTER TABLE [dbo].[BOOK_PROMOTION] CHECK CONSTRAINT [FK_BOOK_PROMOTION_BOOK]
GO
ALTER TABLE [dbo].[BOOK_PROMOTION]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PROMOTION_PROMOTION] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[PROMOTION] ([id])
GO
ALTER TABLE [dbo].[BOOK_PROMOTION] CHECK CONSTRAINT [FK_BOOK_PROMOTION_PROMOTION]
GO
ALTER TABLE [dbo].[DETAILED_BILL]  WITH CHECK ADD  CONSTRAINT [FK_DETAILED_BILL_BILL] FOREIGN KEY([bill_id])
REFERENCES [dbo].[BILL] ([id])
GO
ALTER TABLE [dbo].[DETAILED_BILL] CHECK CONSTRAINT [FK_DETAILED_BILL_BILL]
GO
ALTER TABLE [dbo].[DETAILED_BILL]  WITH CHECK ADD  CONSTRAINT [FK_DETAILED_BILL_BOOK] FOREIGN KEY([book_id])
REFERENCES [dbo].[BOOK] ([id])
GO
ALTER TABLE [dbo].[DETAILED_BILL] CHECK CONSTRAINT [FK_DETAILED_BILL_BOOK]
GO
USE [master]
GO
USE [db_book]
GO
INSERT [dbo].[GENRE] ([name]) VALUES (N'Fantasy')
INSERT [dbo].[GENRE] ([name]) VALUES (N'Science Fiction')
INSERT [dbo].[GENRE] ([name]) VALUES (N'Dystopian')
GO
INSERT [dbo].[BOOK] ([title], [author], [image], [genre_id], [description], [published_date], [price], [quantity]) VALUES (N'The Great Gatsby', N'F. Scott Fitzgerald', N'The_Great_Gatsby.jpg', 10, NULL, CAST(N'1925-04-10' AS Date), 364000, 50)
INSERT [dbo].[BOOK] ([title], [author], [image], [genre_id], [description], [published_date], [price], [quantity]) VALUES (N'To Kill a Mockingbird', N'Harper Lee', N'To_Kill_a_Mockingbird.jpg', 10, NULL, CAST(N'1960-07-11' AS Date), 296000, 75)
INSERT [dbo].[BOOK] ([title], [author], [image], [genre_id], [description], [published_date], [price], [quantity]) VALUES (N'1984', N'George Orwell', N'1984.jpg', 3, NULL, CAST(N'1949-06-08' AS Date), 250000, 100)
GO
INSERT [dbo].[ROLE] ([name]) VALUES (N'Admin')
INSERT [dbo].[ROLE] ([name]) VALUES (N'Customer')
GO
INSERT [dbo].[ACCOUNT] ([fullname], [phone], [address], [username], [password], [entropy], [role_id]) VALUES (N'Nguyễn Minh Quang', N'+84839994855', N'135b Trần Hưng Đạo, phường Cầu Ông Lãnh, Quận 1, Tp.HCM', N'minhquang', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1Sr0zDCzkkCcOOWMW9PduQAAAAACAAAAAAAQZgAAAAEAACAAAACHZspEIzx7Ll9Jh/c1o5IzNTMdp2uZUuyOtyRLu4LguwAAAAAOgAAAAAIAACAAAAAWYkyIXWixVobJUbvzipYMoMxybiQZLMD8utiLLTKAoyAAAACDYogNtv5DZsQa01IIfTBDOQUjng2tGmdnUy1IGt2ZnUAAAAAbtodErymkTFZL6Yqk6ekpTa90P80qf9t8M0sIkI4BP8XqafCDvvkGmHs6TZrLwkaOmXhcIcRuswdmwTIdr/bo', N'FuFUajN7GLvPwopHRuw3cE99sOM=', 1)
INSERT [dbo].[ACCOUNT] ([fullname], [phone], [address], [username], [password], [entropy], [role_id]) VALUES (N'Lê Hoàng Khanh Nguyên', NULL, NULL, N'khanhnguyen', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1Sr0zDCzkkCcOOWMW9PduQAAAAACAAAAAAAQZgAAAAEAACAAAACHZspEIzx7Ll9Jh/c1o5IzNTMdp2uZUuyOtyRLu4LguwAAAAAOgAAAAAIAACAAAAAWYkyIXWixVobJUbvzipYMoMxybiQZLMD8utiLLTKAoyAAAACDYogNtv5DZsQa01IIfTBDOQUjng2tGmdnUy1IGt2ZnUAAAAAbtodErymkTFZL6Yqk6ekpTa90P80qf9t8M0sIkI4BP8XqafCDvvkGmHs6TZrLwkaOmXhcIcRuswdmwTIdr/bo', N'FuFUajN7GLvPwopHRuw3cE99sOM=', 1)
INSERT [dbo].[ACCOUNT] ([fullname], [phone], [address], [username], [password], [entropy], [role_id]) VALUES (N'Lăng Thảo Thảo', NULL, NULL, N'langthao', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1Sr0zDCzkkCcOOWMW9PduQAAAAACAAAAAAAQZgAAAAEAACAAAACHZspEIzx7Ll9Jh/c1o5IzNTMdp2uZUuyOtyRLu4LguwAAAAAOgAAAAAIAACAAAAAWYkyIXWixVobJUbvzipYMoMxybiQZLMD8utiLLTKAoyAAAACDYogNtv5DZsQa01IIfTBDOQUjng2tGmdnUy1IGt2ZnUAAAAAbtodErymkTFZL6Yqk6ekpTa90P80qf9t8M0sIkI4BP8XqafCDvvkGmHs6TZrLwkaOmXhcIcRuswdmwTIdr/bo', N'FuFUajN7GLvPwopHRuw3cE99sOM=', 1)
GO
